SERVERPOD_API_SERVER_PORT=8080
SERVERPOD_API_SERVER_PUBLIC_HOST=localhost
SERVERPOD_API_SERVER_PUBLIC_PORT
SERVERPOD_API_SERVER_PUBLIC_SCHEME
SERVERPOD_DATABASE_HOST=postgres
SERVERPOD_DATABASE_IS_UNIX_SOCKET
SERVERPOD_DATABASE_NAME=wien_talks
SERVERPOD_DATABASE_PASSWORD=${POSTGRES_PASSWORD}
SERVERPOD_DATABASE_PORT=5432
SERVERPOD_DATABASE_REQUIRE_SSL=false
SERVERPOD_DATABASE_USER=postgres
SERVERPOD_INSIGHTS_SERVER_PORT=8081
SERVERPOD_INSIGHTS_SERVER_PUBLIC_HOST=localhost
SERVERPOD_INSIGHTS_SERVER_PUBLIC_SCHEME
SERVERPOD_MAX_REQUEST_SIZE
SERVERPOD_SERVICE_SECRET
SERVERPOD_WEB_SERVER_PORT=8082
SERVERPOD_WEB_SERVER_PUBLIC_HOST=localhost
SERVERPOD_WEB_SERVER_PUBLIC_PORT
SERVERPOD_WEB_SERVER_PUBLIC_SCHEME
